.row
  .large-4.columns
    =link_to("Add Venue",new_venue_path, :remote=>true,:class=>'button radius')
  .large-4.columns
    =link_to("Add Event", new_event_path, :remote => true,:class=>'button radius')
.row
  .large-4.columns
    #venue_form
  .large-4.columns#results_show
    = render :partial => 'layouts/show'
  .large-4.columns
    #event_form
