.row
  .large-7.columns
    =link_to("Add Venue",new_venue_path, :remote=>true)
    =link_to("Add Event", new_event_path, :remote => true)
    .row
      .large-5.columns
        #venue_form
      .large-5.columns
        #event_form
.row
  .columns.large-9.centered
    #results_show